<div class="container-fluid">
	<h2>Items</h2>
	
	<div class="row" ng-show="items.length">
		<div class="">
			<div class="col-md-10">
				<div class="panel panel-default panelDiv col-md-2" ng-repeat="item in items">
					<div class="panel-header">
						<div style="white-space: nowrap;overflow-x: hidden">{{item.name}}</div>
					</div>
					<div class="panel-body">
						<img ng-src="{{item.media.images[0].smallUrl}}" alt="Avatar">
					</div>
					<div class="panel-footer">
						<div class="row">{{item.units[0].price.value}}</div>
						<div class="row">
						<button type="button" class="btn btn-default" ng-click="addToCart(item)">Add to Cart</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			
			<button type="button" ng-click="checkout()" class="btn btn-default">Proceed to Checkout</button>
		</div>
	</div>
</div>

<style type="text/css">

img {
	max-width:100%;
	max-height:200px;
}
.panelDiv{
	/*max-width:100px;*/
	max-height:350px;
	min-height:300px;
	margin-left: 10px;
	margin-right: 10px;
}

</style>